.shopping-cart {
	flex: 1;
	padding: 20px;
}

.shopping-cart-title {
	text-align: center;
	margin-top: 0;
}

.cart-items {
	list-style: none;
	padding: 0;
}

.cart-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

span {
	margin-right: auto;
}

.quantity-control-btn {
	cursor: pointer;
}

.item-qty {
	text-align: center;
}

.remove-item-btn {
	background-color: #dc3545;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
}

.clear-cart-btn {
	background-color: #28a745;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.quantity-control-btn.decrease {
	margin-right: 5px;
}

.quantity-control-btn.increase {
	margin-left: 5px;
}
